---
layout: default
---

<section id="posts">

  {% for post in paginator.posts %}

  <article class="post">

        <h1 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <!-- title -->

        <div class="post-meta">
          <ul class="list-inline">
            <li>
                {{ post.date | date: "%B" }}
                {{ post.date | date: "%d" }},
                {{ post.date | date: "%Y" }}
            </li>
            <li>
              {% if site.share.disqus %}
              <a href="{{ site.url }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.path }}"></a>
              {% endif %}
            </li>
            <li>
              <a href="//github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/blob/master/{{ post.path }}" target="_blank"><i class="fa fa-github"></i>&nbsp;Edit this post on GitHub</a>
            </li>
          </ul>
        </div>
        <!-- meta -->

        <section class="post-content">
          <p>
          {{ post.content | strip_html | truncatewords: 50 }}
          </p>
        </section>
        <!-- content -->

        {% if site.share.twitter or site.share.facebook or site.share.google_plus or site.share.linkedin %}
          {% include share.html %}
        {% endif %}
        <!-- share -->

        <div class="post-reading-link">
          <a href="{{ post.url }}">Continue reading&nbsp;<i class="fa fa-caret-right"></i></a>
        </div>
        <!-- reading link -->

  </article>
  <hr>
  <!--post-->

  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" role="button" class="btn btn-primary"><i class="fa fa-angle-double-left"></i>&nbsp;PREVIOUS</a>
    {% else %}
    <button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-angle-double-left"></i>&nbsp;PREVIOUS</button>
    {% endif %}
    <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" role="button" class="btn btn-primary">NEXT&nbsp;<i class="fa fa-angle-double-right"></i></a>
    {% else %}
    <button type="button" class="btn btn-primary" disabled="disabled">NEXT&nbsp;<i class="fa fa-angle-double-right"></i></button>
    {% endif %}
  </div>
  {% endif %}
  <!-- pagination -->

</section>
