{% if isPage %}
  {% assign post = page %}
{% endif %}

<section class="post-share">

  <span class="share-title">Share on:</span>

  <ul class="share-social-medias list-inline">

    {% if site.share.twitter %}
    <li class="twitter-social-media">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url | prepend: site.url }}" data-text="{{ post.title }}- @nisrulz  {{ post.url | prepend: site.url }}">Tweet</a>
    </li>
    {% endif %}

    {% if site.share.facebook %}
    <li class="facebook-social-media">
      <div class="fb-share-button" data-href="{{ post.url | prepend: site.url }}" data-layout="button_count"></div>
    </li>
    {% endif %}

    {% if site.share.google_plus %}
    <li class="google-plus-social-media">
      <div class="g-plusone" data-size="medium" data-href="{{ post.url | prepend: site.url }}"></div>
    </li>
    {% endif %}

    {% if site.share.linkedin %}
    <li class="linkedin-social-media">
      <script type="IN/Share" data-url="{{ post.url | prepend: site.url }}" data-counter="right" data-showzero="true"></script>
    </li>
    {% endif %}
    {% if site.share.hackernews %}
    <li>
      <a href="http://news.ycombinator.com/submitlink?u=http://nisrulz.github.com{{ page.url }}&t={{ page.title }}" target="_blank"><img src="/assets/images/yc500.gif" title="Submit {{ page.title }} to Hacker News" /></a>
    </li>
    {% endif %}
  </ul>

</section>
