--- 
layout: default 
---
<section id="post">
  <article class="post">
    <h1 class="post-title">
      <p> <a>{{ page.title }}</a></p>
    </h1>
    <!-- title -->
    <div class="post-meta">
      <ul class="list-inline">
        <li>
          {{ page.date | date: "%B" }} {{ page.date | date: "%d" }}, {{ page.date | date: "%Y" }}
        </li>
        <li>
          {% if site.share.disqus %}
          <a href="{{ site.url }}{{ page.url }}/#disqus_thread" data-disqus-identifier="{{ page.path }}"></a>
          {% endif %}
        </li>
        <li>
          <a href="//github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/blob/master/{{ page.path }}" target="_blank"><i class="fa fa-github"></i>&nbsp;Edit this post on GitHub</a>
        </li>
        {% if site.share.hackernews %}
        <li>
          <a href="http://news.ycombinator.com/submitlink?u=http://nisrulz.github.com{{ page.url }}&t={{ page.title }}" target="_blank"><img src="/assets/images/yc500.gif" title="Submit {{ page.title }} to Hacker News" />&nbsp;Share on HackerNews</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- meta -->
    <section class="post-content">
      {{ content }}
    </section>
    <!-- content -->
    {% if site.share.twitter or site.share.facebook or site.share.google_plus or site.share.linkedin%} {% assign isPage = true %} {% include share.html %} {% endif %}
    <!-- share -->
    <footer class="post-footer">
      {% if site.share.disqus %}
      <div id="disqus_thread"></div>
      {% endif %}
    </footer>
  </article>
</section>
<!-- Disqus -->
{% include disqus.html %}
